/* CSS Document */

#result {
	height:20px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	padding:5px;
	margin-bottom:10px;
	background-color:#FFFF99;
}
#country{
	padding:3px;
	border:1px #CCC solid;
	font-size:12px;
}

.suggestionsBox {
	position: absolute;
	left: autopx;
	top:autopx;
	margin: 0px 0px 0px 0px;
	width: 300px;
	padding:0px;
	background-color:#999999;
	border-top: 3px solid #999999;
	color: #fff;
}
.suggestionList {
	margin: 0px;
	padding: 0px;
	text-align:left;
	background-color:#defe61;
}
.suggestionList ul li {
	list-style:none;
	margin: 0px;
	padding: 6px;
	border-bottom:1px dotted #666;
	cursor: pointer;
}
.suggestionList ul li:hover {
	background-color: #FC3;
	color:#000;
}
ul {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	padding:0;
	margin:0;
}

.load{
background-image:url(app/js_auto/loader.gif);
background-position:right;
background-repeat:no-repeat;
}

#suggest {
	position: relative;
}


